<div class="bg">
  <div class="container" style="width: 70%; padding-top: 12%;">
      <div class="text-center">
          <h1 class="text-light">{{title}}</h1>
      </div>
      <div class="container text-center" style="width: 50%">
        <button type="button" class="btn btn-primary text-center btn-lg btn-block" (click)="handleSignUp()">Register</button>
        <button type="button" class="btn btn-light text-center btn-lg btn-block" (click)="handleLogin()">Login</button>
      </div>
  </div>
</div>
