h1 {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.bg {
  /* The image used */
  background-image: url("../../images/home-page.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-group {
  margin: 0;
}

input {
  border-bottom: none;
}

input:focus {
  box-shadow: none;
  border-color: lightgray;
}

#route {
  float: right;
  margin-top: 30px;
  width: 10%;
  padding: 5px 20px
}
